

/* Create Highlight */
.judul{

    position: absolute;
    width: 395px;
    height: 60px;
    left: 523px;
    top: 219px;
    
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 50px;
    line-height: 120%;
    /* identical to box height, or 60px */
    text-align: center;
    
    color: #2F3C7E;
}



/* Highlight the best product and be noticed */
.bawahan {

    position: absolute;
    width: 604px;
    height: 36px;
    left: 418px;
    top: 286px;
    
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 30px;
    line-height: 120%;
    /* identical to box height, or 36px */
    text-align: center;
    
    color: rgba(47, 60, 126, 0.72);
}

