{% extends "base.html" %}
{% block title %}
<title>Product</title>
{% endblock %}
{% block content %}
    <div class="container mt-xl-5">
        <center>

            <table class="table table-striped">
                <tr>
                    <th>Username:</th>
                    <th>Email:</th>
                    <th>Role:</th>
                </tr>
                
                {% for p in list_user %}
                <tr>
                    <td>{{ p.full_name }}</td>
                    <td>{{ p.email }}</td>
                    <td>{{ p.role }}</td>
                </tr>
                {% endfor %}
            </table>
            <button type="submit" >
                <a href="{% url 'account:homepage' %}">Home</a>
             </button>
        </center>
    </div>
{% endblock %}