{% extends "base.html" %}

{% block title %}
<title>Register</title>
{% endblock %}

{% block content %}
{% include 'navbar.html' %}

<style>
    .gradient-custom {
/* fallback for old browsers */
    background: #6a11cb;

    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(to right, rgba(106, 17, 203, 1), rgba(37, 117, 252, 1));

    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(to right, rgba(106, 17, 203, 1), rgba(37, 117, 252, 1))
    }

    #role{
      display: block;
      max-width: 100%;
      margin: auto;
    }

    .confirm{
      display: block;
    }

    span{
      display: block;
    }

    .question{
      display: block;
      margin-top: 10px;
    }
    .block-content {
            margin: 0;
            padding: 0;
            overflow: hidden;
        }

        .gradient-custom{
            height: 100vh;
        }
    </style>
<div class="block-content">
    <div class="gradient-custom">
    <div class="container h-100">
      <div class="row d-flex justify-content-center align-items-center">
        <div class="col-12 col-md-8 col-lg-6 col-xl-5">
          <div class="card bg-dark text-white" style="border-radius: 1rem;">
            <div class="card-body p-5 text-center">
  
              <div class="mb-md-5 mt-md-4 pb-5">
  
                <h2 class="fw-bold mb-2 text-uppercase">Create Account</h2>
                <form action="" method="post">
                    {% csrf_token %}
                    <div class="form-outline form-white mb-4">
                      <input type="text" id="full-name" name="full-name" class="form-control form-control-lg" />
                      <label class="form-label" for="full-name">Username</label>
                    </div>

                    <div class="form-outline form-white mb-4">
                      <input type="email" id="typeEmailX" name="email"class="form-control form-control-lg" />
                      <label class="form-label" for="typeEmailX">Email</label>
                    </div>
      
                    <div class="form-outline form-white mb-4">
                      <input type="password" id="password" name="password"class="form-control form-control-lg" />
                      <label class="form-label" for="password">Password</label>
                    </div>

                    <div class="form-outline form-white mb-4">
                      <input type="password" id="confirm_password" name="confirm_password"class="form-control form-control-lg" />
                      <label class="form-label" for="confirm_password" id="confirm" name="confirm">Confirm Password</label>
                      <span id='message' for="confirm"></span>
                    </div>

                    <div class="form-outline form-white mb-4">
                      <select name="role" id="role" class="form-control-lg">
                        <option value="SALES">SALES</option>
                        <option value="LOGISTIC OPERATOR">LOGISTIC OPERATOR</option>
                      </select>
                      <label class="form-label" for="role">Role</label>
                    </div>
        
                    <button id="enter" class="btn btn-outline-light btn-lg px-5" type="submit">Create</button>
                </form>
                <div>
                  <p class="mb-0">Want back to home? <a href="/" class="text-white-50 fw-bold">Home</a>
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    </div>
</div>

<script>
    $('#password, #confirm_password').on('keyup', function () {
    if ($('#password').val().length < 8) {
      $('#message').html('The password must have a minimum length of 8 characters').css('color', 'red');
      $("#enter").prop('disabled',true)//use prop()
    }
    else if(!/[a-z]/.test($('#password').val())){
      $('#message').html('The password must have at least 1 lowercase character').css('color', 'red');
      $("#enter").prop('disabled',true)//use prop()
    }
    else if(!/[A-Z]/.test($('#password').val())){
      $('#message').html('The password must have at least 1 uppercase character').css('color', 'red');
      $("#enter").prop('disabled',true)//use prop()
    }
    else if (!($('#password').val() == $('#confirm_password').val())) {
      $('#message').html('Password Not Match').css('color', 'red');
      $("#enter").prop('disabled',true)//use prop()
    } 
    else{
      $('#message').html('Password Match').css('color', 'green');
      $("#enter").prop('disabled',false)//use prop()
    }
  });
</script>
{% endblock %}
