{% extends "base.html" %}
{% block title %}
<title>Highlight Product</title>
{% endblock %}
{% block content %}
{% include 'navbar.html' %}
    <div class="container mt-xl-5">
        <center>
        
            <form method="post" action="">
                {% csrf_token %}
                <table>
                    {{form.as_table}}
                </table>
                <div class="text-left mt-3">
            </form>
            <!-- <button type="btn btn-primary btn-block" >
                <a href="{% url 'highlight:show-highlight' %}">Submit</a>
              </button> -->
                <button class = "btn btn-primary btn-block">Submit</button>
            
                
        </center>
    </div>
{% endblock %}