{% extends "base.html" %}
{% block title %}
<title>Create Order</title>
{% endblock %}
{% block content %}
<style>
.box {
    position: relative  ;
    width: 50%;
    height: 50%;
    background-color: rgb(255, 255, 255);
    border: 2px solid rgb(255, 255, 255);
    border-radius: 5px;
}

.submit-button{
    display: block;
    margin: auto;
    width: fit-content;
    bottom: 0;
}

</style>
{% include 'navbar.html' %}
    <div>
        <center>
            <h2 style="margin-bottom: 5vh">New Order Form</h2>
            <form class="box" id="form" method="POST">
                {% csrf_token %}
                
                <label for="client-select">Choose a client:</label>
                <select class="form-control" id="client-select">
                    {% for c in client_list%}
                        <option> {{c.name}} </option>
                    {% endfor %}
                </select>
                <br>
                <label for="product-table">Choose product and quantity:</label>
                <div id="product-table" class="form-floating mb-3">

                </div>
                <button class="submit-button" type='submit' value="Submit"> SUBMIT </button>
            </form>
        </center>
    </div>

    {% for message in messages %}
    {% if message.tags %}
        <script>alert("{{ message }}")</script>
    {% endif %}
    {% endfor %}        
    <script>
        window.onload = showProduct()

        const form = document.querySelector('form');

        form.addEventListener('submit', event => {
        // Prevent the default form submission behavior
        event.preventDefault();
            var formData = {}
            var counter = 0;
            for (var i = 1; i < form.elements.length - 1; i++){
                var e = form.elements[i];
                if(e.type == "select-one"){
                    formData["client"] = e.value
                }
                if(e.type == "checkbox"){   
                    if(e.checked == true){
                        formData[e.name] = 0;
                    }
                }
                if(e.type == "number"){
                    if(formData[e.name[e.name.length - 1]] != null){
                        formData[e.name[e.name.length - 1]] = e.value
                    }
                }
            }
            fetch("{% url 'order:create-order' %}", {
                method: "POST",
                body:  JSON.stringify(formData),
                credentials: 'same-origin',
                headers: { "X-CSRFToken": getCookie("csrftoken") },
            }).then(response => {
                // Check the response status
                if (response.redirected && response.status == 200) {
                    console.log("REDIRECT")
                    alert("Order has been created successfully")
                    window.location = response.url
                } else {
                    alert("Not Enough Stock")
                }
            })
        })
        async function getProduct(){
            var data = await fetch("{% url 'order:json' %}").then((res) => res.json());
            return data
        }
        async function showProduct(){
            product = await getProduct()
            document.getElementById("product-table").innerHTML = ""
            html = ""
            product.forEach((item) =>{
                html += `
                <div>
                    <input type="checkbox" id="${item.pk}" name="${item.pk}" onclick="checkOnClick(this.id)"> 
                    ${item.fields.name}
                    </input>
                    <input type="number" id="quantity-${item.pk}" name="quantity-${item.pk}" style="display:none"><br>
                </div>
                `
            }) 
            document.getElementById("product-table").innerHTML = html
        }
        async function submitForm(){

        }
        function getCookie(name) {
            var cookieValue = null;
            if (document.cookie && document.cookie !== '') {
                var cookies = document.cookie.split(';');   
                for (var i = 0; i < cookies.length; i++) {
                    var cookie = jQuery.trim(cookies[i]);
                    // Does this cookie string begin with the name we want?
                    if (cookie.substring(0, name.length + 1) === (name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
        }

        function checkOnClick(id){
            // Get the checkbox
            var checkBox = document.getElementById(id);
            // Get the output text
            var input = document.getElementById(`quantity-${id}`);

            // If the checkbox is checked, display the output input
            if (checkBox.checked == true){
                input.style.display = "block";
            } else {
                input.style.display = "none";
            }
        }
    </script>
{% endblock %}