{% extends "base.html" %}
{% block title %}
<title>Product</title>
{% endblock %}
{% block content %}
{% include 'navbar.html' %}
<div class="container mt-xl-5">
    <center>
        <h2 style="margin-bottom: 5vh">New Product Form</h2>
        <form action="{% url 'product:create' %}" method="post">
            {% csrf_token %}
            <div class="form-floating mb-3">
                <input class="form-control" id="input-name" name="input-name" placeholder="Product name">
                <label for="input-name">Name</label>
            </div>
            <div class="form-floating mb-3">
                <input class="form-control" id="input-brand" name="input-brand" placeholder="Product brand">
                <label for="input-brand">Brand</label>
            </div>
            <div class="form-floating mb-3">
                <input class="form-control" id="input-variant" name="input-variant" placeholder="Product variant">
                <label for="input-variant">Variant</label>
            </div>
            <div class="form-floating mb-3">
                <input class="form-control" id="input-price" name="input-price" placeholder="Product price">
                <label for="input-price">Price</label>
            </div>
            <div class="form-floating mb-3">
                <input class="form-control" id="input-stock" name="input-stock" placeholder="Product stock">
                <label for="input-stock">Stock</label>
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </center>
</div>
{% endblock %}