{% extends "base.html" %}
{% block title %}
<title>Product</title>
{% endblock %}
{% block content %}
    <div class="container mt-xl-5">
        <center>

            <table class="table table-striped">
                <tr>
                    <th>Product name:</th>
                    <th>Product brand:</th>
                    <th>Product variant:</th>
                    <th>Product price:</th>
                    <th>Product stock:</th>
                </tr>
                
                {% for p in products %}
                <tr>
                    <td>{{ p.name }}</td>
                    <td>{{ p.brand }}</td>
                    <td>{{ p.variant }}</td>
                    <td>{{ p.price }}</td>
                    <td>{{ p.stock }}</td>
                </tr>
                {% endfor %}
            </table>
        
            <form method="post" action="">
                {% csrf_token %}
                <table>
                    {{form.as_table}}
                </table>
                <div class="text-left mt-3">
            </form>
                <button class = "btn btn-primary btn-block">Submit</button>  
                  
        </center>
    </div>
{% endblock %}