{% extends "base.html" %}
{% block title %}
<title>Product</title>
{% endblock %}
{% block content %}
    <div class="container mt-xl-5">
        <center>

            <table class="table table-striped">
                <tr>
                    <th>Id Order:</th>
                    <th>Price:</th>
                    <th>Client:</th>
                </tr>
                
                {% for id, body in data.items %}
                <tr>
                    {% for item in body %}
                        <td>{{ item }}</td>
                    {% endfor %}
                </tr>
                {% endfor %}
            </table>
                  
        </center>
    </div>
{% endblock %}